@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,500&family=PT+Sans+Narrow&family=Poppins:wght@300&family=Roboto+Condensed:ital,wght@0,300;1,400&family=Source+Sans+Pro:wght@300;400&family=Titillium+Web:ital,wght@1,300&display=swap');

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25%;
    padding: 5px;
    background-color: rgb(8, 8, 8);
    
    min-height: 64px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title{
    font-weight: 900;
    font-size: xx-large;
    color: yellow;
    cursor: pointer;
}

.select-login{
    display: flex;
    gap: 14px;
}

.option, .btn{
    background-color: black;
    color: azure;
    border-radius: 14px;
}
.option{
    padding: 13px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: large;
}
.btn{
    background-color: yellow;
    font-size: large;
    font-weight: bold;
    color: black;
    padding: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
}