@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,500&family=PT+Sans+Narrow&family=Poppins:wght@300&family=Roboto+Condensed:ital,wght@0,300;1,400&family=Source+Sans+Pro:wght@300;400&family=Titillium+Web:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

.App{
    background-color: #14161a;
    color: beige;
    min-height: 100vh;
}